.itemi {
  display: inline-block;
  width: 600px;
  height: 600px;
}
.plava {
  background-color: cornflowerblue;
}
.crvena {
  background-color: tomato;
}
.crna {
  background-color: black;
}
.zelena {
  background-color: green;
}
