/* .kontenjer {
  display: inline-block;
} */
.row {
  gap: 10px;
  display: flex;
  height: 500px;
  width: 100%;
}

.row div {
  width: 50%;
}

.noMargin {
  /* display: inline-block; */
  margin: 0px;
}

.one {
  margin-bottom: 10px;
  background-color: rgb(236, 168, 168);
}

.two {
  margin-bottom: 10px;
  background-color: rgb(46, 46, 10);
}

.three {
  /* margin-bottom: 10px; */
  background-color: rgb(19, 41, 19);
}

.four {
  background-color: rgb(23, 23, 63);
}
