* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: crimson;
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
}
.hero {
  height: 30vh;
  width: 100vw;
  background-color: red;
  /* position: fixed;
  top: 20vh; */
  margin-bottom: 2000px;
}

.footer {
  background-color: saddlebrown;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
}

p {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding-top: 15px;
}

.relative {
  position: relative;
  width: 50%;
  height: 500px;
  background-color: blueviolet;
  margin: 10px auto;
}

.absolute {
  box-shadow: 2px 2px 2px 2px white;

  position: absolute;
  height: 50px;
  width: 100px;
  background-color: yellow;
  top: 300px;
  right: -40px;
}
body {
  background-color: #444;
}
